{
        "apps" : [
                {
                        "name" : "school-manage-server",
                        "cwd" : ".",
                        "script" : "NODE_ENV=prod ts-node -r tsconfig-paths/register --files ./src/app.ts",
                        "watch" : false,
                        "autorestart" : false
                }
        ]
}
