/*
	공통에 필요한 CSS
*/
.container {
	display: inline-block;
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.attendanceInput {
	width:18px;
	height:18px;
	font-size:10px;
	text-align: center;
}
/*
	차트JS에 필요한 CSS
*/
.chart{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}